<html>
<head>
  <title>vysit</title>

  <!-- Custom CSS -->
  <link rel="stylesheet" href="css/styler.css">

  <!-- jquery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


  <!-- Materialise CSS -->
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <!-- Icons -->
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- vue js -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  <!-- firebase -->
  <script src='https://cdn.firebase.com/js/client/2.2.1/firebase.js'></script>

</head>
<body>

  <div class="fixed-action-btn">
    <a class="btn-floating btn-large white">
      <i class="large material-icons white" style="color: #2196f3">menu</i>
    </a>
    <ul>
      <li><a class="btn-floating white" href="index.html"><i class="material-icons blue">home</i></a></li>
      <li><a class="btn-floating white darken-1" href="landmarkDetection.html"><i class="material-icons blue">location_on</i></a></li>
      <li><a class="btn-floating white" href="https://esoteric-source-220418.appspot.com/"><i class="material-icons blue">photo_album</i></a></li>
    </ul>
  </div>

      <img src="images/child-bg.png" id="bg" alt="">
      <div class="container">
        <div class="about-card">
          <div class="row">

						<div class="col s2 m2 l2 padding-0"><img class="header-logo" src="images/api-logos/labelDetection.png" width="112px;"></div>
            <div class="col s10 m10 l10">
                <h3>Label Detection</h3>
                <p>Let your users explore their photos beyond pixels. </p>
            </div>
					</div>
        </div>

        <div id="apiCallerDiv">
        <div class="about-card">


          <h5>Step 1: Choose an image</h5>

          <p id="src-b64"></p>


          <div class="col s12 m6">
            <div class = "file-field input-field">
              <div style="background: white; color: #2196F3;" class = "btn">
                  <span>Browse</span>
                  <input type = "file" id="src-img"/>
              </div>
              <div class = "file-path-wrapper">
                  <input class = "file-path validate" type = "text" placeholder = "Upload image" />
              </div>
            </div>
          </div>


          <div class="row">
            <div class="col s6 m6">
              <div class="card">
                <div class="card-image">
                  <img id="src-decoded" src="images/sample.jpg">
                </div>
              </div>
              <!-- <div class="card" style="padding: 16px; padding-top:5px;">
                <p><b>Objects identified:</b></p> -->
              <div class="card-panel blue" style=" padding:5px 16px 5px 16px;">
                <p class="main-label-card"><span class="white-text main-label-card"><b>{{similarity_response.responses[0].webDetection.bestGuessLabels[0].label}}</b>
                </span></hp>
              </div>
            </div>
            <!-- https://translation.googleapis.com/language/translate/v2?key=AIzaSyAdxg74BGS4CF4-VNCNp9fhqrMR_8FzeFQ&q=cat&target=hi -->
            <div class="col s6 m6">
              <!-- <div class="card-panel" v-if="similarity_response"> -->
                 <div class="card" style="padding:5px 16px 10px 16px; font-size: 18px; color: #2196f3;">
                  <p><b>Image tags</b></p>
                <!-- <h5>Image tags</h5> -->
                <!-- <p class="white-text">sdads</p> -->
                <div class="chip" v-for="item in similarity_response.responses[0].webDetection.webEntities">
                  {{item.description}}<i class="close material-icons">close</i>
                </div>
              </div>
            </div>

            <div class="col s6 m6">
              <div class="row">

              <div class="col s4 m4">
                <select id="localeSelect" class="browser-default">
                  <option value="" disabled>Choose your locale</option>
                  <option value="es" selected>Spanish</option>
                  <option value="hi">Hindi</option>
                  <option value="fr">French</option>
                  <option value="zh">Chinese</option>
                  <option value="de">German</option>
                  <option value="ja">Japanese</option>
                </select>
              </div>
              <div class="col s4 m4">
                <button style="background: white; color: #2196F3;" type="button" class="btn btn-secondary" @click="translateTags">Translate</button>
              </div>
            </div>
            <div class="card" style="padding:5px 16px 10px 16px; font-size: 18px; color: #2196f3;">
             <p><b>Translated tags</b></p>
                <!-- <p class="white-text">sdads</p> -->
                <div class="chip" v-for="item in translation_response.data.translations">
                  {{item.translatedText}}<i class="close material-icons">close</i>
                </div>
              </div>
            </div>
          </div>

          <!-- <h6>India Gate</h6> -->

          <h5>Step 2: Hit 'Detect' to identify the place and its labels</h5>

          <button style="background: white; color: #2196F3;" type="button" class="btn btn-secondary" @click="detectSimilarImages">detect</button>
           <!-- <a class="waves-effect waves-teal btn-flat" style="color: #00897B;">Button</a> -->

          <br>
          <br>

          <h5>Similar images that you might like</h5>
          <div class="row" v-if="similarity_response">
            <div class="col s3 m3" v-for="item in similarity_response.responses[0].webDetection.visuallySimilarImages">
              <div class="card">
                <div class="card-image">
                  <img id="src-decoded" :src='item.url' @click="openImage(item.url)">
                </div>
              </div>
            </div>
          </div>
          <br>
          <h5>Articles that you might like</h5>

          <div v-if="similarity_response">
            <ul class="collection">
              <div v-for="item in similarity_response.responses[0].webDetection.pagesWithMatchingImages">
                <li class="collection-item"><a :href='item.url' target="_blank">{{item.url}}</a></li>
              </div>
            </ul>
          </div>
          </div>

        <div class="about-card">
          <div v-if="landmark_response">
          <h5>Nerd stats</h5>
        </div>

        <div class="col s12 m12 l12 nerd-block">
          <!-- <div class="card"> -->
                <div class="col s12">
                  <div id="emotion_state" style="width:100%;height:400px;">
                    <div class="row">
                        <div class = "col s6 m6 l6">
                          <div class="card" style="padding:5px 16px 10px 16px;">
                            <p><b>Text Annotations</b></p>
                            <div><code>{text_annotation}</code></div>
                            <br>
                              <!-- <div v-if="text_detection_response"> -->
                            <div class="chip blue" v-for="item in text_detection_response.responses[0].textAnnotations">
                              <div style="color:white;">{{item.description}}</div>
                              <!-- <i class="close material-icons">close</i> -->
                            </div>
                            <!-- </div> -->
                          </div>
                        </div>

                          <div class = "col s6 m6 l6">
                            <div class="card" style="padding:5px 16px 10px 16px;">
                              <p><b>Objects identified</b></p>
                              <div><code>{object: confidence_score}</code></div>
                              <br>
                                <!-- <div v-if="text_detection_response"> -->
                                <div class="chip orange" v-for="item in object_detection_response.responses[0].localizedObjectAnnotations">
                                  <div style="color:white;">{{item.name}}:&nbsp; {{item.score}}</div>
                                  <!-- <i class="close material-icons">close</i> -->
                                </div>
                              <!-- </div> -->
                              </div>
                            </div>

                            <div class = "col s6 m6 l6">
                              <div class="card" style="padding:5px 16px 10px 16px;">
                                <p><b>Emotions identified</b></p>
                                <div><code>{emotion_state: count}</code></div>
                                  <div class="chip" v-for="item in emotions">
                                    {{item[0]}}:&nbsp; {{item[1]}}
                                  </div>
                                </div>
                              </div>

                          <div class = "col s6 m6 l6">
                            <div class="card" style="padding:5px 16px 10px 16px;">
                              <p><b>Safe search</b></p>
                              <div><code>{attribute: possibility}</code></div>
                              <br>
                                <!-- <div v-if="text_detection_response"> -->
                                <!-- <div :class='{possible_tag: passible_tag_bool}'> -->
                                <!-- <div :class='possible_tag'> -->
                                <div v-bind:class=" adult_bool ? 'chip red': 'chip orange' ">
                                  <div style="color:white;">adult:&nbsp; {{safe_search_response.responses[0].safeSearchAnnotation.adult}}</div>
                                </div>
                                <div v-bind:class=" medical_bool ? 'chip red': 'chip orange' ">
                                  <div style="color:white;">medical:&nbsp; {{safe_search_response.responses[0].safeSearchAnnotation.medical}}</div>
                                </div>
                                <div v-bind:class=" racy_bool ? 'chip red': 'chip orange' ">
                                  <div style="color:white;">racy:&nbsp; {{safe_search_response.responses[0].safeSearchAnnotation.racy}}</div>
                                </div>
                                <div v-bind:class=" spoof_bool ? 'chip red': 'chip orange' ">
                                  <div style="color:white;">spoof:&nbsp; {{safe_search_response.responses[0].safeSearchAnnotation.spoof}}</div>
                                </div>
                                <!-- <div class="chip orange"> -->
                                <div v-bind:class=" violence_bool ? 'chip red': 'chip orange' ">
                                  <div style="color:white;">violence:&nbsp; {{safe_search_response.responses[0].safeSearchAnnotation.violence}}</div>
                                </div>
                              <!-- </div> -->
                              </div>
                            </div>



                      </div>
                    </div>
                  </div>
          <!-- </div> -->
          <button style="background: white; color: #2196F3;" type="button" class="btn btn-secondary" @click="getNerdStats">Get nerd stats</button>
        </div>
        <!-- <button style="background: white; color: #2196F3;" type="button" class="btn btn-secondary" @click="getMemories">SHOW PAST LOCATIONS</button> -->
      </div>
      </div>

      <div class="copyright-card">
        <!-- Cloud Technical Residency -->
        <h6>© 2018 <a href="#">Vysit LLP</a>.</h6>
      </div>

      <script src="https://www.gstatic.com/firebasejs/5.5.8/firebase.js"></script>
      <script>
        // Initialize Firebase
        var config = {
          apiKey: "AIzaSyBkjv3I3fuLzyvEmlwqZDV4LFiQTmo_lC0",
          authDomain: "esoteric-source-220418.firebaseapp.com",
          databaseURL: "https://esoteric-source-220418.firebaseio.com",
          projectId: "esoteric-source-220418",
          storageBucket: "esoteric-source-220418.appspot.com",
          messagingSenderId: "55437313763"
        };
        firebase.initializeApp(config);
      </script>
      <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAWZ2IDESUpL3pF9dx73FO_vOy3JF7a2AY"></script>
      <!-- <script type="text/javascript" src="js/Map.js"></script> -->
      <script type="text/javascript" src="js/apiCaller.js"></script>
      <script>
      $(document).ready(function(){
        $('.fixed-action-btn').floatingActionButton();
      });
      $(document).ready(function(){
        $('select').formSelect();
      });
      </script>
    </body>
</html>
