<html>
<head>
  <title>vysit</title>

  <!-- Custom CSS -->
  <link rel="stylesheet" href="css/styler.css">

  <!-- jquery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <!-- Materialise CSS -->
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <!-- Icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- vue js -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  <!-- firebase -->
  <script src='https://cdn.firebase.com/js/client/2.2.1/firebase.js'></script>

</head>
<body>

  <div class="fixed-action-btn">
    <a class="btn-floating btn-large white">
      <i class="large material-icons white" style="color: #2196f3">menu</i>
    </a>
    <ul>
      <li><a class="btn-floating white" href="index.html"><i class="material-icons blue">home</i></a></li>
      <li><a class="btn-floating white darken-1" href="labelDetection.html"><i class="material-icons blue">fullscreen</i></a></li>
      <li><a class="btn-floating white" href="https://esoteric-source-220418.appspot.com/"><i class="material-icons blue">photo_album</i></a></li>
    </ul>
  </div>

    <img src="images/child-bg.png" id="bg" alt="">

      <div class="container">
        <div class="about-card">
          <div class="row">
						<!-- <div style="width=40%"> -->
						<div class="col s2 m2 l2 padding-0"><img class="header-logo" src="images/api-logos/landmarkDetection.png" width="112px;"></div>
            <div class="col s10 m10 l10">
              <h3>Landmark Detection</h3>
              <p>Let your users revisit their lost memories</p>
            </div>
					</div>
        </div>
        <div id="apiCallerDiv">
        <div class="about-card">




          <h5>Step 1: Upload an image</h5>

          <p id="src-b64"></p>

          <div class="col s12 m6">
            <div class = "file-field input-field">
             <div style="background: white; color: #2196F3;" class = "btn">
                <span>Browse</span>
                <input type = "file" id="src-img"/>
             </div>

              <div class = "file-path-wrapper">
                <input class = "file-path validate" type = "text" placeholder = "Upload image" />
              </div>
            </div>
          </div>

          <div class="row">
          <div id="image-card">
            <div class="col s6 m6">
              <div class="card">
                <div class="card-image">
                  <img id="src-decoded" src="images/sample.jpg" >
                </div>
              </div>


                <div class="card-panel blue" style=" padding:5px 16px 5px 16px;">
                  <p class="main-label-card"><span class="white-text main-label-card"><b>{{landmark_response.responses[0].landmarkAnnotations[0].description}}</b>
                  </span></hp>
                </div>
                <button style="background: white; color: #2196F3;" type="button" class="btn btn-secondary" @click="detectLandmark">detect</button>
            </div>

          </div>
          <div>
            <!-- <div class="col s6 m6">
              <div class="card">
                <div class="card-image">

                </div>
              </div>
              <div class="col s6 m6">


              </div>
            </div> -->
            <div class = "col s6 m6 l6">
              <div class="card" style="padding:5px 16px 10px 16px;">
                <p><b>Nearest airport</b></p>
                  <!-- <div v-if="text_detection_response"> -->
                <div class="chip blue">
                  <div style="color:white;">{{airport.code}}: {{airport.name}}</div>

                  <!-- <i class="close material-icons">close</i> -->
                </div>
                <p>{{airport.about}}
                <p>Reviews: {{airport.review}}</p>
                <p>Address: {{airport.address}}</p>
                <p>Phone: {{airport.phone}}</p>

                <!-- </div> -->
              </div>
            </div>


            <div class = "col s6 m6 l6">
            <div class="card horizontal">
      <div class="card-image">
        <img :src="hotelThumb">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p><b>Hotel you'd like</b></p>
          <br>
          <!-- <p>{{possible_tag}}</p> -->
          <p><b>Name:&nbsp;</b>{{hotel.hotelResultSet[0].hotel_name}}</p>
          <br>
          <p><b>Chain:&nbsp;</b>{{hotel.hotelResultSet[0].chain_name}}</p>
          <br>
          <p>📍 [{{hotel.hotelResultSet[0].latitude}}, {{hotel.hotelResultSet[0].longitude}}]</p>
          <p>⭐ {{hotel.hotelResultSet[0].stars}}/5</p>
        </div>
      </div>
    </div>
  </div>
  <div class = "col s6 m6 l6"><button style="background: white; color: #000000;" type="button" class="btn btn-secondary">✈️ Book flight</button>
  <button style="background: white; color: #000000;" type="button" class="btn btn-secondary">🏨 Book hotel</button></div>


          </div>
        </div>
          <!-- <h6>India Gate</h6> -->
          <br>
          <h5>Step 2: Hit 'Detect' to identify the place</h5>


           <!-- <a class="waves-effect waves-teal btn-flat" style="color: #00897B;">Button</a> -->

          <br>


          <div v-if="landmark_response">
            <h5>Step 3: Hit 'Show Map' to locate it on the map</h5>
          </div>

          <div class="col s12 m12 l12">
            <div class="card">
              <!-- <div class="card-content white-text"> -->
                <div class="row">
                  <div class="col s6">
                    <div id="googleMap" style="width:100%;height:400px;"></div>
                  </div>
                  <div class="col s6">
                    <div id="pano" style="width:100%;height:400px;"></div>
                  </div>
                </div>
              <!-- </div> -->
            </div>
          </div>
          <button style="background: white; color: #2196F3;" type="button" class="btn btn-secondary" @click="plotResult">Show map</button>
          <button style="background: white; color: #2196F3;" type="button" class="btn btn-secondary" @click="getHotelRecommendations">Hotels</button>
          <br>
          <br>
        </div>

    <div class="about-card">
      <div v-if="landmark_response">
        <h5>Your memories</h5>
      </div>

      <div class="col s12 m12 l12">
        <div class="card">
          <!-- <div class="card-content white-text"> -->
            <div class="row">
              <div class="col s12">
                <div id="memoriesMap" style="width:100%;height:400px;"></div>
              </div>

            </div>

          <!-- </div> -->
        </div>
        <button style="background: white; color: #2196F3;" type="button" class="btn btn-secondary" @click="getMemories">SHOW PAST LOCATIONS</button>
        <br>
        <br>
      </div>

    </div>

    </div>
    <div class="copyright-card">
      <!-- Cloud Technical Residency -->
      <h6>© 2018 <a href="#">Vysit LLP</a>.</h6>
    </div>

  <script src="https://www.gstatic.com/firebasejs/5.5.8/firebase.js"></script>
  <script>
    // Initialize Firebase
    var config = {
      apiKey: "AIzaSyBkjv3I3fuLzyvEmlwqZDV4LFiQTmo_lC0",
      authDomain: "esoteric-source-220418.firebaseapp.com",
      databaseURL: "https://esoteric-source-220418.firebaseio.com",
      projectId: "esoteric-source-220418",
      storageBucket: "esoteric-source-220418.appspot.com",
      messagingSenderId: "55437313763"
    };
    firebase.initializeApp(config);
  </script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAWZ2IDESUpL3pF9dx73FO_vOy3JF7a2AY"></script>
  <script type="text/javascript" src="js/apiCaller.js"></script>
  <script>
  $(document).ready(function(){
    $('.fixed-action-btn').floatingActionButton();
  });</script>
</body>
</html>
