<html>
<head>
  <title>vysit</title>

  <!-- Custom CSS -->
  <link rel="stylesheet" href="css/styler.css">

  <!-- jquery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


  <!-- Materialise CSS -->
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <!-- Icons -->
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- vue js -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  <!-- firebase -->
  <script src='https://cdn.firebase.com/js/client/2.2.1/firebase.js'></script>

</head>
<body>

  <div class="fixed-action-btn">
    <a class="btn-floating btn-large red">
      <i class="large material-icons">menu</i>
    </a>
    <ul>
      <li><a class="btn-floating red" href="index.html"><i class="material-icons">home</i></a></li>
      <li><a class="btn-floating yellow darken-1"><i class="material-icons">location_on</i></a></li>
      <li><a class="btn-floating green"><i class="material-icons">blur_on</i></a></li>
    </ul>
  </div>

    <img src="images/index-bg.jpg" id="bg" alt="">

      <div class="container">
        <div class="about-card">

        <div class="row">
          <h3 id="hello">Finding similar photos</h3>
          <!-- <h6>Google Cloud Vision married Maps and gave birth to what you're seeing right now.</h6> -->
          <!-- <div class="col s12 m5 l11">
            <div class="card-panel teal">
              <span class="white-text">Google Cloud Vision married Maps and gave birth to what you're seeing right now.
              </span>
            </div>
          </div> -->
        </div>



        <div id="apiCallerDiv">
          <h5>Step 1: Choose an image</h5>

          <p id="src-b64"></p>


            <div class="col s12 m6">
              <div class = "file-field input-field">
               <div style="background: #664e96;" class = "btn">
                  <span>Browse</span>
                  <input type = "file" id="src-img"/>
               </div>

                <div class = "file-path-wrapper">
                  <input class = "file-path validate" type = "text" placeholder = "Upload image" />
                </div>
              </div>
            </div>


          <div class="row">
            <div class="col s6 m6">
              <div class="card">
                <div class="card-image">
                  <img id="src-decoded" src="images/sample.jpg" >
                  <span class="card-title"></span>
                </div>
                <div class="card-content">
                  <p>{{similarity_response.responses[0].webDetection.bestGuessLabels[0].label}}</p>
                </div>
              </div>
            </div>
            <div class="col s6 m6">
              <div class="card-panel" v-if="similarity_response">
                <h5>Image tags</h5>
                <!-- <p class="white-text">sdads</p> -->
                <div class="chip" v-for="item in similarity_response.responses[0].webDetection.webEntities">
                  {{item.description}}<i class="close material-icons">close</i>
                </div>
              </div>
            </div>
          </div>

          <!-- <h6>India Gate</h6> -->

          <h5>Step 2: Hit 'Find Similar Images' to identify the place</h5>

          <button style="background: #664e96;" type="button" class="btn btn-secondary" @click="detectSimilarImages">find similar images</button>
           <!-- <a class="waves-effect waves-teal btn-flat" style="color: #00897B;">Button</a> -->

          <br>
          <br>

          <h5>Images that you might like</h5>
          <div class="row" v-if="similarity_response">
            <div class="col s3 m3" v-for="item in similarity_response.responses[0].webDetection.visuallySimilarImages">
              <div class="card">
                <div class="card-image">
                  <img id="src-decoded" :src='item.url' @click="openImage(item.url)">
                </div>
              </div>
            </div>
          </div>

          <br>

          <h5>Articles that you might like</h5>
          <div v-if="similarity_response">
            <div v-for="item in similarity_response.responses[0].webDetection.pagesWithMatchingImages">
              <a :href='item.url' target="_blank">- {{item.url}}</a>
            </div>
          </div>

        </div>
        <br>
      <br>
      © 2018 <a href="#">Vysit LLP</a>.
    </div>

  <script src="https://www.gstatic.com/firebasejs/5.5.8/firebase.js"></script>
  <script>
    // Initialize Firebase
    var config = {
      apiKey: "AIzaSyBkjv3I3fuLzyvEmlwqZDV4LFiQTmo_lC0",
      authDomain: "esoteric-source-220418.firebaseapp.com",
      databaseURL: "https://esoteric-source-220418.firebaseio.com",
      projectId: "esoteric-source-220418",
      storageBucket: "esoteric-source-220418.appspot.com",
      messagingSenderId: "55437313763"
    };
    firebase.initializeApp(config);
  </script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAWZ2IDESUpL3pF9dx73FO_vOy3JF7a2AY"></script>
  <script type="text/javascript" src="js/apiCaller.js"></script>
  <script>
  $(document).ready(function(){
    $('.fixed-action-btn').floatingActionButton();
  });</script>
</body>
</html>
